doctype transitional

html(lang = "ru")

    head

        meta(charset = "utf-8")
        meta(name = "viewport", content = "width=device-width,initial-scale=1")
        meta(name="description", content="Тестовое задание Сильвер Дак")

        title My beast, красота в исполнении

        link(type = "text/css", rel = "stylesheet", href = "/css/styles.css")


    body
        header(class = "main-header")
            nav(class = "main-header__navigation navigation")
                div(class = "navigation__wrapper")
                    a(class = "navigation__link", href = "#")
                        img(class = "navigation__logo", src = "img/logo-header.png", width = "120", height = "33")
                    button(class = "navigation__burger")
                    ul(class = "navigation__list")
                        li(class = "navigation__item")
                            a(href = "#") О нас
                        li(class = "navigation__item")
                            a(href = "#") Философия
                        li(class = "navigation__item navigation__item--current")
                            a(href = "#") Дизайн
                        li(class = "navigation__item")
                            a(href = "#") Обучение
                        li(class = "navigation__item")
                            a(href = "#") Монтаж
                        li(class = "navigation__item")
                            a(href = "#") Технология
                        li(class = "navigation__item")
                            a(href = "#") Аксессуары
                        li(class = "navigation__item")
                            a(href = "#") Каталог
                        li(class = "navigation__item")
                            a(href = "#") Для кого
                        li(class = "navigation__item")
                            a(href = "#") Контакты
            div(class = "main-header__wrapper")
                h1 MyBEAST
                h2 Дизайн
            ul(class = "main-header__links")
                li
                    a(href = "#")
                        img(src = "img/logo-MyEQUILIBRIA.png", width = "118", height = "17")
                li
                    a(href = "#")
                        img(src = "img/logo-MyISLE.png", width = "95", height = "34")

        main(class = "main-content")
            section(class = "main-content__beauty beauty")
                img(class = "beauty__logo", src = "img/logo.png", width = "240", height = "66")
                div(class = "beauty__wrapper")
                    h2 Дизайн
                    h3 Красота в исполнении
                    p Есть несомненная красота в пышно вовремя, прекрасно помещается штрафной, или плавным подтянуть. Некоторые называют это “поэзией в движении."С My Beast мы постарались подчеркнуть красоту исполнения, максимизируя эффективность каждого этапа. Мы также устранили ненужные переходы от одной единицы оборудования к другой и сосредоточились на современном дизайне моего зверя, который:
                ul(class = "beauty__list")
                    li(class = "beauty__item")
                        div(class = "beauty__image-wrapper")
                            img(src = "img/icons/icon-arrows.png", width = "69", height = "69")
                        p Запускает инстинктивное движение тела
                    li(class = "beauty__item")
                        div(class = "beauty__image-wrapper")
                            img(src = "img/icons/icon-target.png", width = "81", height = "81")
                        p Не отвлекает от основной цели тренировки
                    li(class = "beauty__item")
                        div(class = "beauty__image-wrapper")
                            img(src = "img/icons/icon-cup.png", width = "58", height = "73")
                        p Показатели спортсменов и делает обучение более гладкой
            section(class = "main-content__beast beast")
                div(class = "beast__wrapper")
                    h2 Дизайн
                    h3 Зверь в деталях
                    p Отличный дизайн проявляется в почти навязчивой заботе о деталях, и когда дело доходит до проектирования моего зверя, мы действительно ничего не оставили на волю случая.
                    p Структура сердечника сделана используя новаторский материал для того чтобы достигнуть солидности и неуничтожаемых свойств бетона вместе с сопротивлением и прочностью на растяжение стали.
                    p Каждый этап и из нержавеющей стали аксессуар вручную полируется для придания ему безупречной на ощупь.
                    p Полностью изготавливание сделано 100% оно Италия, помогающ от существенной промышленной экспертизы и качества мастерств-степени.
                    p Затем, чтобы создать еще более захватывающий опыт обучения, мы улучшили My Beast с помощью технологий на основе близости и попросили лучших фитнес-тренеров разработать конкретные упражнения для каждого этапа.
            section(class = "main-content__result result")
                div(class = "result__wrapper")
                    h2 Результат?
                    h3 Монолитов-смотреть, исключительнейше более сильная структура которую можно подгонять внутри
                    p(class = "result__count") 479,001,600
                    p(class = "result__way") пути
            section(class = "main-content__department department")
                div(class = "department__wrapper")
                    h2 Проектировщик
                    h3 КОНСТРУКТОРСКИЙ ОТДЕЛ METALCO
                    p С начала, постоянн исследование для форм и новаторские разрешения направленные на увеличивать функциональность предметов принятая линия направляющего выступа.
                    p В тоже время, компания устанавливала сотрудничества с международными, известный конструкторами и с престижный академичными заведениями.
                    p На леты компания имела Отдел конструкции, технически отдел и международный процесс индустриализации, для того чтобы достигнуть синергического развития через все участки проекта и увеличить характеристик материалов используемых согласно типу продукта.
                    p Результат продукты которые redefined принципиальная схема мебели улицы и напольной мебели, награженные главными ассоциациями для конструкции и оцененные потребителями.С самого начала, поиск для форм и новаторских решений направленных на увеличение функциональности объектов принятая директива.

        footer(class = "main-footer")
            div(class = "main-footer__wrapper")
                ul(class = "main-footer__social social")
                    li(class = "social__item")
                        a(href = "#")
                            p(class = "visually-hidden") Мы в Facebook
                            img(src = "img/icons/icon-facebook.png", width = "32", height = "32")
                    li(class = "social__item")
                        a(href = "#")
                            p(class = "visually-hidden") Мы в Twitter
                            img(src = "img/icons/icon-tvit.png", width = "32", height = "32")
                    li(class = "social__item")
                        a(href = "#")
                            p(class = "visually-hidden") Мы в YouTube
                            img(src = "img/icons/icon-you.png", width = "32", height = "32")
                    li(class = "social__item")
                        a(href = "#")
                            p(class = "visually-hidden") Мы в Instagram
                            img(src = "img/icons/icon-inst.png", width = "32", height = "32")
                    li(class = "social__item")
                        a(href = "#")
                            p(class = "visually-hidden") Напишите нам
                            img(src = "img/icons/icon-gmail.png", width = "32", height = "32")
                a(href = "tel:+7 495 645 45 51", class = "main-footer__phone") +7 495 645 45 51
                a(href = "mailto:info@site.ru", class = "main-footer__mail") info@site.ru
                section(class = "main-footer__copyright copyright")
                    p ACTIVE SPORT
                    p ©  Copyright site, 2018 Политика конфеденциальности

    script(src = "js/script.js")
