@font-face {
  font-family: "IBMPlexSans Medium";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IBMPlexSans-Medium.woff") format("woff"), url("../fonts/IBMPlexSans-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "IBMPlexSans Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IBMPlexSans-Regular.woff") format("woff"), url("../fonts/IBMPlexSans-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "IBMPlexSans SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/IBMPlexSans-SemiBold.woff") format("woff"), url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2");
  font-display: swap;
}
body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
}
img {
  max-width: 100%;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  display: none;
}
.main-header {
  padding-bottom: 119px;
  margin-bottom: -10px;
  background-image: url("../img/bg/bg-header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.main-header__wrapper {
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  box-sizing: border-box;
}
.main-header__wrapper h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 28px;
  font-weight: 200;
  color: #fff;
}
.main-header__wrapper h2 {
  padding: 0;
  margin: 0;
  font-family: "IBMPlexSans Medium", Arial, sans-serif;
  font-size: 54px;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
}
.main-header__links {
  position: absolute;
  right: 0;
  top: 150px;
}
.main-header__links li {
  width: 150px;
  height: 60px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafbfc;
}
.main-header__links li:last-child {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .main-header {
    background-size: 1366px auto;
    background-position: 25%;
  }
}
.navigation {
  min-height: 70px;
  margin-bottom: 408px;
  background-color: rgba(57,57,57,0.75);
  display: flex;
  align-items: center;
  position: relative;
}
.navigation__wrapper {
  width: 100%;
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.navigation__link {
  margin-right: 45px;
}
.navigation__list {
  display: flex;
}
.navigation__item {
  margin-right: 28px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item a {
  padding: 0;
  margin: 0;
  font-family: "IBMPlexSans Medium", Arial, sans-serif;
  font-size: 15px;
  line-height: 19.5px;
  color: #fefefe;
}
.navigation__item p {
  padding: 0;
  margin: 0;
  font-family: "IBMPlexSans Medium", Arial, sans-serif;
  font-size: 15px;
  line-height: 19.5px;
  color: #fefefe;
}
.navigation__item--current p {
  color: #b9a779;
}
.navigation__burger {
  display: none;
}
@media (max-width: 1160px) {
  .navigation__wrapper {
    flex-direction: column;
  }
  .navigation__link {
    margin: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  .navigation__wrapper {
    padding-top: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .navigation__list {
    display: none;
  }
  .navigation--open .navigation__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .navigation__item {
    margin-bottom: 10px;
  }
  .navigation__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    display: block;
    border: none;
    background-color: transparent;
    background-image: url("../img/icons/icon-burger.svg");
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .navigation__list {
    width: 100%;
    flex-direction: column;
    background-color: rgba(57,57,57,0.75);
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 2;
  }
  .navigation__item {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}
.beauty {
  width: 100%;
  max-width: 1200px;
  padding-left: 75px;
  padding-bottom: 48px;
  margin: 0 auto;
  box-sizing: border-box;
}
.beauty__wrapper {
  width: 90%;
  padding-bottom: 44px;
}
.beauty__wrapper h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #393939;
}
.beauty__wrapper h3 {
  padding: 0;
  padding-bottom: 28px;
  margin: 0;
  margin-bottom: 31px;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  color: #b9a779;
  position: relative;
}
.beauty__wrapper h3::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #393939;
  position: absolute;
  bottom: 0;
  left: 0;
}
.beauty__wrapper p {
  padding: 0;
  margin: 0;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 24.5px;
  color: #5e5e5e;
}
.beauty__logo {
  margin-left: auto;
  margin-bottom: 52px;
  display: block;
}
.beauty__list {
  display: flex;
}
.beauty__item {
  width: 27.6%;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
.beauty__item .beauty__image-wrapper {
  min-height: 81px;
}
.beauty__item p {
  padding: 0;
  padding-top: 27px;
  margin: 0;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 24.5px;
  color: #5e5e5e;
  display: block;
}
@media (max-width: 1024px) {
  .beauty__list {
    flex-direction: column;
  }
  .beauty__item {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .beauty {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
  .beauty h2 {
    font-size: 19px;
    text-align: center;
  }
  .beauty h3 {
    font-size: 30px;
    text-align: center;
  }
  .beauty h3::before {
    left: 50%;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  .beauty p {
    font-size: 13px;
    text-align: center;
  }
  .beauty__logo {
    margin-right: auto;
    margin-bottom: 25px;
  }
  .beauty__wrapper {
    width: 100%;
  }
}
.beast {
  padding-top: 220px;
  padding-bottom: 160px;
  background-image: url("../img/bg/bg-middle.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 2;
}
.beast__wrapper {
  width: 100%;
  max-width: 1200px;
  padding-left: 75px;
  padding-right: 75px;
  margin: 0 auto;
  box-sizing: border-box;
}
.beast__wrapper h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fefefe;
}
.beast__wrapper h3 {
  padding: 0;
  padding-bottom: 28px;
  margin: 0;
  margin-bottom: 20px;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b9a779;
  position: relative;
}
.beast__wrapper h3::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.beast__wrapper p {
  padding: 0;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 7px;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 24.5px;
  color: #fff;
  position: relative;
}
@media (max-width: 1024px) {
  .beast {
    background-size: 1366px auto;
    background-position: 50%;
  }
}
@media (max-width: 768px) {
  .beast {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-size: cover;
  }
  .beast h2 {
    text-align: center;
  }
  .beast h3 {
    font-size: 30px;
    text-align: center;
  }
  .beast h3::before {
    left: 50%;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  .beast__wrapper {
    padding: 0;
  }
  .beast__wrapper p {
    font-size: 13px;
    text-align: center;
  }
}
.result {
  padding-top: 245px;
  padding-bottom: 126px;
  margin-bottom: -315px;
  background-image: url("../img/bg/bg-result.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  position: relative;
  top: -190px;
}
.result__wrapper {
  width: 47%;
  margin: 0 auto;
}
.result__wrapper h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.result__wrapper h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #393939;
}
.result__count {
  padding: 0;
  margin: 0;
  font-family: "IBMPlexSans Medium", Arial, sans-serif;
  font-size: 48px;
  line-height: 62px;
  color: #393939;
  text-align: center;
}
.result__way {
  padding: 0;
  margin: 0;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 20px;
  line-height: 38px;
  font-weight: 600;
  text-align: center;
  color: #393939;
}
@media (max-width: 768px) {
  .result {
    margin-bottom: -345px;
  }
  .result__wrapper {
    width: 100%;
  }
}
.department {
  padding-top: 235px;
  padding-bottom: 165px;
  margin-bottom: -150px;
  background-image: url("../img/bg/bg-department.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  position: relative;
}
.department__wrapper {
  width: 100%;
  max-width: 1200px;
  padding-left: 75px;
  padding-right: 75px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
.department__wrapper h2 {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #393939;
}
.department__wrapper h3 {
  width: 100%;
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
  margin-bottom: 20px;
  font-family: "IBMPlexSans Medium", Arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b9a779;
  position: relative;
}
.department__wrapper h3::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #393939;
  position: absolute;
  bottom: 0;
  left: 0;
}
.department__wrapper p {
  width: 48%;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-family: "IBMPlexSans Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 24.5px;
  color: #5e5e5e;
}
@media (max-width: 1024px) {
  .department {
    background-size: cover;
    background-position: 50%;
  }
  .department__wrapper p {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .department {
    padding-top: 150px;
  }
  .department__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .department__wrapper h2 {
    text-align: center;
  }
  .department__wrapper h3 {
    font-size: 30px;
    text-align: center;
  }
  .department__wrapper h3::before {
    left: 50%;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  .department__wrapper p {
    font-size: 13px;
    text-align: center;
  }
}
.main-footer {
  padding-top: 215px;
  padding-bottom: 40px;
  background-image: url("../img/bg/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
}
.main-footer__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.main-footer__social {
  margin-bottom: 25px;
}
.main-footer__phone {
  font-family: "IBMPlexSans SemiBold", Arial, sans-serif;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  font-weight: 200;
  display: block;
  color: #fff;
}
.main-footer__mail {
  margin-bottom: 28px;
  font-family: "IBMPlexSans SemiBold", Arial, sans-serif;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  font-weight: 200;
  display: block;
  color: #fff;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item {
  margin-right: 17px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item a {
  display: block;
}
.copyright {
  width: 87%;
  padding-top: 10px;
  margin: 0 auto;
  border-top: 2px solid #7f7f7f;
  text-align: center;
}
.copyright p {
  font-family: "IBMPlexSans Medium", Arial, sans-serif;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}
