@import "utils/scaffolding.styl";
@import "blocks/main-header.styl";
@import "blocks/navigation.styl";
@import "blocks/content.styl";
@import "blocks/beauty.styl";
@import "blocks/beast.styl";
@import "blocks/result.styl";
@import "blocks/department.styl";
@import "blocks/main-footer.styl";
@import "blocks/social.styl";
@import "blocks/copyright.styl";