.navigation
  min-height 70px
  margin-bottom 408px
  background-color rgba(57, 57, 57, .75)
  display flex
  align-items center
  position relative

.navigation__wrapper
  width 100%
  max-width 1200px
  padding-left 25px
  padding-right 25px
  margin 0 auto
  display flex
  align-items center
  box-sizing border-box

.navigation__link
  margin-right 45px

.navigation__list
  display flex

.navigation__item
  margin-right 28px

  &:last-child
    margin-right 0

  & a
    padding 0
    margin 0
    font-family "IBMPlexSans Medium", Arial, sans-serif
    font-size 15px
    line-height 19.5px
    color #fefefe
    transition all 0.4s ease

  &:hover a
    color #b9a779

  & p
    padding 0
    margin 0
    font-family "IBMPlexSans Medium", Arial, sans-serif
    font-size 15px
    line-height 19.5px
    color #fefefe

  &--current p
    color #b9a779

.navigation__burger
  display none

@media(max-width: 1160px)
  .navigation__wrapper
    flex-direction column

  .navigation__link
    margin 0
    margin-bottom 10px

@media(max-width: $tablet)
  .navigation__wrapper
    padding-top 10px
    flex-wrap wrap
    flex-direction row
    justify-content space-between

  .navigation__list
    display none


  .navigation--open .navigation__list
    width 100%
    display flex
    flex-wrap wrap

  .navigation__item
    margin-bottom 10px

  .navigation__burger
    width 24px
    height 24px
    padding 0
    margin 0
    display block
    border none
    background-color transparent
    background-image url("../img/icons/icon-burger.svg")
    background-size cover

@media(max-width: $mobile)
  .navigation__list
    width 100%
    flex-direction column
    background-color rgba(57, 57, 57, .75)
    position absolute
    top 70px
    left 0
    z-index 2

  .navigation__item
    margin 0
    margin-bottom 10px
    text-align center

