@font-face
  font-family "IBMPlexSans Medium"
  font-style normal
  font-weight 400
  src url("../fonts/IBMPlexSans-Medium.woff") format("woff"), url("../fonts/IBMPlexSans-Medium.woff2") format("woff2")
  font-display swap

@font-face
  font-family "IBMPlexSans Regular"
  font-style normal
  font-weight 400
  src url("../fonts/IBMPlexSans-Regular.woff") format("woff"), url("../fonts/IBMPlexSans-Regular.woff2") format("woff2")
  font-display swap

@font-face
  font-family "IBMPlexSans SemiBold"
  font-style normal
  font-weight 600
  src url("../fonts/IBMPlexSans-SemiBold.woff") format("woff"), url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2")
  font-display swap

body
  min-width 320px
  padding 0
  margin 0
  font-family "IBMPlexSans Regular", Arial, sans-serif

img
  max-width 100%

ul
  padding 0
  margin 0
  list-style none

a
  text-decoration none

.visually-hidden
  display none

$tablet = 1024px
$mobile = 768px

